@import 'vars';

.ProductList {
	display: grid;
	grid-template-columns: repeat(auto-fill, 24rem);
	gap: 2.6rem;
	place-content: center;
	margin: 3em 0 0 0;
	background-color: var(--white);
}

@media (max-width: 640px) {
	.ProductList {
		grid-template-columns: repeat(auto-fill, 14rem);
	}
}